<h2>All Robots</h2>
<%@robot.errors.full_messages.each |message| do %>
<%= message %>
<% end %>



<ul>
  <% @robots.each do |robot| %>
    <li>
      <%= link_to robot.name, robot_path(robot) %>
    </li>
    <br>
  <% end %>
</ul>
