<h2>All Robots</h2>

<ul>
  <% @robots.each do |robot| %>
    <li>
      <%= link_to robot.name, robot_path(robot) %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "Add a Robot", new_robot_path, method: :get %>
