<h2>All Abilities</h2>

<ul>
  <% @abilities.each do |ability| %>
    <li>
      <%= link_to ability.name, ability_path(ability) %>
      <br>
      Description: <%= ability.description %>
    </li>
    <br>
  <% end %>
</ul>
